/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: transparent;
  font-family: 'Cabin', sans-serif;
  font-size: x-large;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: rgb(255, 255, 255, 0.85);
  border-radius: 5px;
}

body {
  width: 60%;
  margin-left: 20%;
  background-image: url('shop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Cabin', sans-serif;
  font-size: x-large;
}

.tab > button {
  font-family: 'Cabin', sans-serif;
  font-size: x-large;
}

#displayProduct {
  font-size: medium;
  color: rgb(78, 78, 78);
}

.organic > label {
  font-size: medium;
}

h3 {
  font-size: 40px;
}

#dietSelect {
  width: 200px;
  height: 25px;
}

#addCart {
  width: 200px;
  height: 55px;
  font-size: large;
  background-color: #254F9A;
  color: white;
  border-radius: 7px;
  margin-top: 50px;
  margin-left: 40%;
}

#addCart:hover {
  cursor: pointer;
  background-color: #153772;
}

footer {
  top: 1500px;
  font-size: large;
  color: #254F9A;
  align-self: flex-end;
}

.title > img {
  height: 150px;
  width: 100%;
}

@media screen and (max-width:500px) {
  .title > img {
    height: 90px;
  }
}

@media screen and (min-width:500px) and (max-width: 800px){
  #addCart {
    margin-left: 10%;
  }
}

#dietSelect {
  width: 250px;
  height: 35px;
  border-radius: 6px;
  font-size: 20px;
}

#dietSelect:hover {
  cursor: pointer;
}


/* Pointer*/
#pointer {
  width: 200px;
  height: 60px;
  position: relative;
  background: #1f50a7;
  margin-right: 3px;
  color: white;
}
#pointer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid red;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
#pointer::before {
  
  content: "";
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #1f50a7;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}


.tab1 {
  z-index: 4;
}

.tab2 {
  z-index: 3;
}

.tab3 {
  z-index: 2;
}

#pointer1 {
  width: 200px;
  height: 60px;
  position: relative;
  background: #1f50a7;
  margin-right: 3px;
  color: white;
}
#pointer1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #1f50a7;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
#pointer1::before {
  
  content: "";
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #1f50a7;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

#pointer:active,
#pointer:focus,
#pointer1:active,
#pointer1:focus {
  background: #153772;
}

#pointer:focus::before,
#pointer1:focus::before,
#pointer1:focus::after {
  content: "";
  position: absolute;
  right: -30px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #153772;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
